@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

@layer components {
  /* #search-input {
    @apply ;
  } */
  #btn-to-back {
    @apply flex justify-between px-10 py-2 rounded-md  bg-very-light-gray;
    box-shadow: 0 0 4px #0006;
  }

  .border-countries-list {
    @apply px-6 py-1 bg-very-light-gray rounded;
    box-shadow: 0 0 4px #0006;
  }
}
